<a href="https://colab.research.google.com/github/blazaropinto/PDA_Data_Analysis_Python/blob/main/Data_retrieval_worksheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data retrieval
---

Examples of data being retrieved from a range of sources

## From a web page
---

The code below reads all the data tables from the Wikipedia page on Glasgow.  The 8th table on the page shows population data over a period of centuries.

The code reads the data from the page into a list of datatables.  The index [7] is used to access the 8th table in the list.  Change the index to see other data tables.  Use len(datatables) to find out how many tables are in the list.

In [1]:
import pandas as pd
datatables = pd.read_html('https://en.wikipedia.org/wiki/Glasgow#Climate')
df = datatables[7]  #Glasgow population data
df.columns = [df.iloc[1, col] for col in range(5)]
df.drop(df.index[[0,1]])

   Year[78]  ...                                       Area changes
2      1300  ...                                            Initial
3      1600  ...                                            Unknown
4      1791  ...  Anderson to James Street/West Nile Street to C...
5      1831  ...                          Necropolis and Blythswood
6      1846  ...   Burghs of Anderston and Calton/Barony of Gorbals
7      1872  ...  Districts of Keppochhill, Alexandra Parade and...
8      1891  ...  Burghs of Govanhill, Crosshill, Pollokshields,...
9      1901  ...  Bellahouston Park and Craigton. Districts of B...
10     1912  ...  Burghs of Govan, Partick, Pollokshaws. Distric...
11     1921  ...                                          No change
12     1926  ...  Districts of Lambhill, Millerston, Aikenhead, ...
13     1938  ...  Districts of Balmuildy, Auchinairn, Cardowan, ...
14     1946  ...                                          No change
15     1951  ...                                          No change
16     1961  ...                                          No change
17     1971  ...                                          No change
18     1981  ...  Burghs of Rutherglen, Cambuslang, Mount Vernon...
19     1991  ...                              Minor boundary change
20     2001  ...  Rutherglen and Cambuslang transferred to South...
21     2011  ...                              Minor boundary change

[20 rows x 5 columns]

## From a csv file hosted on Github.com
---

The code below reads the data table stored in a Comma Separated Values file (this is a text file containing rows of data with each column within the row separated from the next column by a comma).  

If you were using Jupyter Notebooks on your device, the url could be replaced with the path to the CSV file.

In [2]:
import pandas as pd
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/Paisley-Weather-Data.csv"
df = pd.read_csv(url)
df

     yyyy  mm tmax (degC)  ... rain (mm) sun (hours)       status
0    1959   1           4  ...      40.9        54.1          NaN
1    1959   2         6.6  ...      41.8        17.8          NaN
2    1959   3        10.6  ...      50.9        85.7          NaN
3    1959   4          13  ...      76.3       125.1          NaN
4    1959   5        18.1  ...        24         222          NaN
..    ...  ..         ...  ...       ...         ...          ...
741  2020  10       12.9*  ...    185.3*       76.8*  Provisional
742  2020  11       10.6*  ...    142.4*       29.3*  Provisional
743  2020  12        6.9*  ...    131.0*       31.6*  Provisional
744  2021   1        4.9*  ...    132.2*       51.0*  Provisional
745  2021   2        7.0*  ...    144.3*       58.8*  Provisional

[746 rows x 8 columns]

## From an Excel file hosted on Github.com
---

The code below reads the data table from a sheet in an Excel file.  If you don't specify a sheet then it will assume that you want to read the data from the first sheet in the Excel workbook (sheet_name = 0).  If you don't know the sheet name but know it is the second sheet, you can use sheet_name = 1, or 2 for the third sheet, etc.

If you were using Jupyter Notebooks on your device, the url could be replace with the path to the Excel file.

In [3]:
import pandas as pd
url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/public_use-talent-migration.xlsx?raw=true"
df = pd.read_excel(url,sheet_name="Industry Migration")
df

     country_code          country_name  ... net_per_10K_2018 net_per_10K_2019
0              ae  United Arab Emirates  ...            68.51            49.55
1              ae  United Arab Emirates  ...           149.57           182.22
2              ae  United Arab Emirates  ...           409.18           407.41
3              ae  United Arab Emirates  ...           236.69           188.07
4              ae  United Arab Emirates  ...           852.39           519.40
...           ...                   ...  ...              ...              ...
5290           zw              Zimbabwe  ...            70.60           -18.30
5291           zw              Zimbabwe  ...          -234.59          -304.36
5292           zw              Zimbabwe  ...           311.03           -55.88
5293           zw              Zimbabwe  ...          -108.16          -213.82
5294           zw              Zimbabwe  ...           -39.32           -92.51

[5295 rows x 13 columns]

## From an API which delivers the data in JSON format
---

The code below requests the data from the url.  This is a bit more tricky than the other ways to get the data as how you access the data will depend on how it is organised.

In this example, the data is returned as a dictionary, which will have the key 'data' against which the actual data is stored.  In the example, the data has been taken from the 'data' key/value pair and is stored in json_data. 

Again, in this example, the json_data is a list of json_objects but it only has one object in the list.  Try adding the line `print(json_data)` to see this.  

data_table is the first object in the json_data list.  Try adding the line `print(data_table)` to see this.

In this example, the data table object has three keys, 'to', 'from' and 'regions'.  The 'regions' value is the data we want to use in our dataframe, so we normalize this json data into a pandas dataframe (df), which you can see as the output.  

Each API is likely to deliver its data in a different format and so you will need to be happy to read the documentation and to inspect the data to see what keys and indexes you need to access.

For information on the format of the data, see https://carbon-intensity.github.io/api-definitions/#regional

In [4]:
import pandas as pd
import requests

url = "https://api.carbonintensity.org.uk/regional"
json_data = requests.get(url).json()['data']
print(json_data)

[{'from': '2021-04-22T09:30Z', 'to': '2021-04-22T10:00Z', 'regions': [{'regionid': 1, 'dnoregion': 'Scottish Hydro Electric Power Distribution', 'shortname': 'North Scotland', 'intensity': {'forecast': 210, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 53.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 14}, {'fuel': 'solar', 'perc': 0}, {'fuel': 'wind', 'perc': 32.7}]}, {'regionid': 2, 'dnoregion': 'SP Distribution', 'shortname': 'South Scotland', 'intensity': {'forecast': 105, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 13.3}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 22.6}, {'fuel': 'nuclear', 'perc': 31.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 1.2}, {'fuel': 'solar', 'perc': 9.7}, {'fuel': 'wind', 'perc': 21.2}]}, {'regionid': 3, 'dnoregion': 'Electricity North West', 'shortname': 'North West England', 'intensity': {'forecast': 135, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 10.6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 31}, {'fuel': 'nuclear', 'perc': 50.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 4}, {'fuel': 'wind', 'perc': 4}]}, {'regionid': 4, 'dnoregion': 'NPG North East', 'shortname': 'North East England', 'intensity': {'forecast': 125, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 33.9}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 21.4}, {'fuel': 'nuclear', 'perc': 35.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 7.3}, {'fuel': 'wind', 'perc': 1.7}]}, {'regionid': 5, 'dnoregion': 'NPG Yorkshire', 'shortname': 'Yorkshire', 'intensity': {'forecast': 238, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 47.6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 45.8}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 4.5}, {'fuel': 'wind', 'perc': 2.1}]}, {'regionid': 6, 'dnoregion': 'SP Manweb', 'shortname': 'North Wales & Merseyside', 'intensity': {'forecast': 223, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 1.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 3.1}, {'fuel': 'gas', 'perc': 55.7}, {'fuel': 'nuclear', 'perc': 6.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.5}, {'fuel': 'solar', 'perc': 19.9}, {'fuel': 'wind', 'perc': 13.4}]}, {'regionid': 7, 'dnoregion': 'WPD South Wales', 'shortname': 'South Wales', 'intensity': {'forecast': 308, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 78}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 11.2}, {'fuel': 'wind', 'perc': 10.7}]}, {'regionid': 8, 'dnoregion': 'WPD West Midlands', 'shortname': 'West Midlands', 'intensity': {'forecast': 262, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.2}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 10.3}, {'fuel': 'gas', 'perc': 64.6}, {'fuel': 'nuclear', 'perc': 1.6}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 19.8}, {'fuel': 'wind', 'perc': 3.4}]}, {'regionid': 9, 'dnoregion': 'WPD East Midlands', 'shortname': 'East Midlands', 'intensity': {'forecast': 322, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0.1}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 81.7}, {'fuel': 'nuclear', 'perc': 0.1}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 16.4}, {'fuel': 'wind', 'perc': 1.7}]}, {'regionid': 10, 'dnoregion': 'UKPN East', 'shortname': 'East England', 'intensity': {'forecast': 178, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 18.9}, {'fuel': 'gas', 'perc': 42.1}, {'fuel': 'nuclear', 'perc': 10.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 20.9}, {'fuel': 'wind', 'perc': 7.7}]}, {'regionid': 11, 'dnoregion': 'WPD South West', 'shortname': 'South West England', 'intensity': {'forecast': 35, 'index': 'very low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0.1}, {'fuel': 'gas', 'perc': 8.8}, {'fuel': 'nuclear', 'perc': 32.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 52}, {'fuel': 'wind', 'perc': 7}]}, {'regionid': 12, 'dnoregion': 'SSE South', 'shortname': 'South England', 'intensity': {'forecast': 229, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 26.2}, {'fuel': 'gas', 'perc': 53.7}, {'fuel': 'nuclear', 'perc': 0.2}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 18.6}, {'fuel': 'wind', 'perc': 1.2}]}, {'regionid': 13, 'dnoregion': 'UKPN London', 'shortname': 'London', 'intensity': {'forecast': 140, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 63.9}, {'fuel': 'gas', 'perc': 25}, {'fuel': 'nuclear', 'perc': 1.4}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.3}, {'fuel': 'solar', 'perc': 5.8}, {'fuel': 'wind', 'perc': 3.6}]}, {'regionid': 14, 'dnoregion': 'UKPN South East', 'shortname': 'South East England', 'intensity': {'forecast': 140, 'index': 'low'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 67.7}, {'fuel': 'gas', 'perc': 24.4}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.3}, {'fuel': 'solar', 'perc': 4.4}, {'fuel': 'wind', 'perc': 3.2}]}, {'regionid': 15, 'dnoregion': 'England', 'shortname': 'England', 'intensity': {'forecast': 185, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7.8}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 18.7}, {'fuel': 'gas', 'perc': 41.5}, {'fuel': 'nuclear', 'perc': 12.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.1}, {'fuel': 'solar', 'perc': 15.5}, {'fuel': 'wind', 'perc': 3.6}]}, {'regionid': 16, 'dnoregion': 'Scotland', 'shortname': 'Scotland', 'intensity': {'forecast': 170, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 3.6}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 2.6}, {'fuel': 'gas', 'perc': 41.6}, {'fuel': 'nuclear', 'perc': 10.7}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 6.1}, {'fuel': 'solar', 'perc': 8.9}, {'fuel': 'wind', 'perc': 26.5}]}, {'regionid': 17, 'dnoregion': 'Wales', 'shortname': 'Wales', 'intensity': {'forecast': 277, 'index': 'high'}, 'generationmix': [{'fuel': 'biomass', 'perc': 0}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 0}, {'fuel': 'gas', 'perc': 70.3}, {'fuel': 'nuclear', 'perc': 0}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0}, {'fuel': 'solar', 'perc': 13.1}, {'fuel': 'wind', 'perc': 16.6}]}, {'regionid': 18, 'dnoregion': 'GB', 'shortname': 'GB', 'intensity': {'forecast': 189, 'index': 'moderate'}, 'generationmix': [{'fuel': 'biomass', 'perc': 7}, {'fuel': 'coal', 'perc': 0}, {'fuel': 'imports', 'perc': 16.2}, {'fuel': 'gas', 'perc': 43.1}, {'fuel': 'nuclear', 'perc': 11.8}, {'fuel': 'other', 'perc': 0}, {'fuel': 'hydro', 'perc': 0.7}, {'fuel': 'solar', 'perc': 14.8}, {'fuel': 'wind', 'perc': 6.4}]}]}]

In [5]:
data_table = json_data[0]
df = pd.json_normalize(data_table['regions'])
df

    regionid  ... intensity.index
0          1  ...        moderate
1          2  ...             low
2          3  ...             low
3          4  ...             low
4          5  ...        moderate
5          6  ...        moderate
6          7  ...            high
7          8  ...            high
8          9  ...            high
9         10  ...        moderate
10        11  ...        very low
11        12  ...        moderate
12        13  ...             low
13        14  ...             low
14        15  ...        moderate
15        16  ...        moderate
16        17  ...            high
17        18  ...        moderate

[18 rows x 6 columns]

## Exercise - upload a CSV file to your own Github account and write Python code to load it into a dataframe
---

1.  Download the CSV file at this link to your downloads folder on your computer: https://drive.google.com/file/d/15vDkpCKqlRHQt8f8VHER97fIqZytIAtu/view?usp=sharing 

2.  Create a folder called 'Data Sets' and move the CSV file into the Data Sets folder.

3.  Log in to your Github account and navigate to the repository where you are uploading all your Colab Worksheets

4.  Click on the Add File button  
![Add file to Github](https://drive.google.com/uc?id=1szQpVcLg56yPPJc6z4wvK9mCGzSNSa5q)  Select *Upload Files* and then drag the Data Sets folder onto the page (drag the folder rather than the files in it).  Once the folder has uploaded, you will need to commit the changes.  Scroll down the page to see the Commit Changes button.  Before you commit, you can add an extended description *e.g. New folder to store data sets.*

5.  Click to open the Data Sets folder in your Github repository.  Then click to select the file `housing_in_london_yearly_variables.csv`.  You will need a link to the 'raw' data version of this file.  
![Get raw data](https://drive.google.com/uc?id=1_B9_1YK35eRpXp5kN2zBZRu0m_CIBn5i)  
Click on 'raw', you will see just the data shown in the page.  Select the URL for this page and copy it.  **This is the link you will need.**  

You can now refer to the section above 'From a csv file hosted on Github.com' and create a dataframe from your newly uploaded CSV file.

### Note: 
for future data set uploads you will just need to navigate to the Data Sets folder in your Github repository and click on Add File there.  You can then just upload the file and it will sit in the Data Sets folder.

In [6]:
url_london = 'https://raw.githubusercontent.com/blazaropinto/PDA_Data_Analysis_Python/main/Data%20Sets/housing_in_london_yearly_variables.csv'
london_df = pd.read_csv(url)
df.head()

   regionid  ... intensity.index
0         1  ...        moderate
1         2  ...             low
2         3  ...             low
3         4  ...             low
4         5  ...        moderate

[5 rows x 6 columns]