<a href="https://colab.research.google.com/github/blazaropinto/PDA_Data_Analysis_Python/blob/main/How_happy_is_the_world.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How happy is the world?

![HappinessImage-Benjamin Scott](https://drive.google.com/uc?id=1wWdXTclLAjPpZUiKkR8XGg0Sl7iD1u8T)  

(Image by Benjamin Scott, [source](https://www.natureindex.com/news-blog/data-visualization-these-are-the-happiest-countries-world-happiness-report-twenty-nineteen))   

The Sustainable Development Solutions Network (SDSN) collects data across the world relating to happiness.  They use this data to rank countries in order of happiness factor.

This is not an exact science but can give food for thought in terms of what factors might have the most impact on a nation's happiness levels.

Data is taken from the Gallup World Poll, so not collected directly by SDSN.  
Countries are grouped by region.  

### The factors included are:
Economy (measured in GDP per Capita)	
Family (support systems) 	
Health (measured by Life Expectancy)	
Freedom (sense of)  	 
Trust (Government Corruption)	
Generosity (charitable inclinations)  	
Dystopia Residual 
*  Dystopic is the theoretical most unhappy country with the lowest levels in all six of the above factors  
*  The Residual measure is a calculated as the average of the six distances from lowest

Let's take a look at the data

---
### Open a data set

Open the data set, an Excel file with only one sheet (so sheet_name is not necessary) from here: https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true

Interrogate the data (head, tail, iloc) to get to know what it contains.

In [1]:
import pandas as pd 

url = 'https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true'

happiness = pd.read_excel(url)

happiness.head()

       Country          Region  ...  Generosity  Dystopia Residual
0  Switzerland  Western Europe  ...     0.29678            2.51738
1      Iceland  Western Europe  ...     0.43630            2.70201
2      Denmark  Western Europe  ...     0.34139            2.49204
3       Norway  Western Europe  ...     0.34699            2.46531
4       Canada   North America  ...     0.45811            2.45176

[5 rows x 12 columns]

In [2]:
happiness.tail()

     Country                           Region  ...  Generosity  Dystopia Residual
153   Rwanda               Sub-Saharan Africa  ...     0.22628            0.67042
154    Benin               Sub-Saharan Africa  ...     0.18260            1.63328
155    Syria  Middle East and Northern Africa  ...     0.47179            0.32858
156  Burundi               Sub-Saharan Africa  ...     0.19727            1.83302
157     Togo               Sub-Saharan Africa  ...     0.16681            1.56726

[5 rows x 12 columns]

In [3]:
happiness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 158 entries, 0 to 157
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Country                        158 non-null    object
 1   Region                         158 non-null    object
 2   Happiness Rank                 158 non-null    int64
 3   Happiness Score                158 non-null    float64
 4   Standard Error                 158 non-null    float64
 5   Economy (GDP per Capita)       158 non-null    float64
 6   Family                         158 non-null    float64
 7   Health (Life Expectancy)       158 non-null    float64
 8   Freedom                        158 non-null    float64
 9   Trust (Government Corruption)  158 non-null    float64
 10  Generosity                     158 non-null    float64
 11  Dystopia Residual              158 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 14.9+ KB

---
### Sort the data in different ways

The data is currently sorted in order of rank.  To sort the data in the table, run the code below, which identifies the column on which to sort in the brackets.

Then, **try sorting on other columns** *Note: you must type the column heading in the quotes and exactly as it appears in the table (including capitalisation)*.  To sort on multiple columns, enter a list of column headings in the brackets (e.g. `.sort_values(['Region','Freedom'])`

In [4]:
sorted_table = happiness.sort_values(['Family']) 
# by default, the function is applied to a copy of the df and the original stays the same (is not 'inplace') and sort is along axis
sorted_table  # output the table below

                      Country  ... Dystopia Residual
147  Central African Republic  ...           2.72230
157                      Togo  ...           1.56726
152               Afghanistan  ...           1.95210
154                     Benin  ...           1.63328
116                     India  ...           2.27513
..                        ...  ...               ...
43                 Uzbekistan  ...           2.23741
0                 Switzerland  ...           2.51738
2                     Denmark  ...           2.49204
17                    Ireland  ...           1.97570
1                     Iceland  ...           2.70201

[158 rows x 12 columns]

In [5]:
several_rules_for_sorting_df = happiness.sort_values(['Region','Freedom'])
several_rules_for_sorting_df

                    Country  ... Dystopia Residual
8               New Zealand  ...           2.26425
9                 Australia  ...           2.26646
95   Bosnia and Herzegovina  ...           2.06367
82               Montenegro  ...           2.10017
126                 Armenia  ...           1.75873
..                      ...  ...               ...
5                   Finland  ...           2.61955
2                   Denmark  ...           2.49204
7                    Sweden  ...           2.37119
0               Switzerland  ...           2.51738
3                    Norway  ...           2.46531

[158 rows x 12 columns]

---
### Summarising the data

Look at the happiness dataframe.  Create new dataframes from a range of rows, columns, statistical information, etc.

For each dataframe, add a text cell to explain what it is showing

##### Dataframe with main statistics for various numeric columns

In [6]:
happiness.agg(['mean', 'var'])

      Happiness Rank  Happiness Score  ...  Generosity  Dystopia Residual
mean       79.493671         5.375734  ...    0.237296           2.098977
var      2093.461743         1.311048  ...    0.016049           0.306417

[2 rows x 10 columns]

Dataframe with mode for numeric columns, it can be several numbers

In [8]:
happiness.round(2).mode(numeric_only=True)

   Happiness Rank  Happiness Score  ...  Generosity  Dystopia Residual
0            82.0             4.51  ...        0.18               2.32
1             NaN             5.19  ...         NaN                NaN
2             NaN             6.30  ...         NaN                NaN

[3 rows x 10 columns]

##### Dataframe with main statistics for various numeric columns per region

In [9]:
happiness.groupby('Region').agg({
    'Happiness Score': ['var', 'median'],
    'Economy (GDP per Capita)': ['var','mean', 'max', 'min'], 
    'Family': 'mean',
    'Health (Life Expectancy)': ['var','mean', 'max', 'min'], 
    'Freedom': ['var','mean', 'max', 'min'], 
    'Trust (Government Corruption)': ['var','mean', 'max', 'min'],
    'Generosity': ['var','mean'], 
    'Dystopia Residual': ['var', 'mean']
}).round(2)

                                Happiness Score         ... Dystopia Residual
                                            var median  ...               var  mean
Region                                                  ...
Australia and New Zealand                  0.00   7.28  ...              0.00  2.27
Central and Eastern Europe                 0.33   5.29  ...              0.22  2.02
Eastern Asia                               0.31   5.73  ...              0.38  1.68
Latin America and Caribbean                0.53   6.15  ...              0.27  2.62
Middle East and Northern Africa            1.21   5.26  ...              0.30  1.98
North America                              0.05   7.27  ...              0.00  2.48
Southeastern Asia                          0.90   5.36  ...              0.16  1.78
Southern Asia                              0.33   4.57  ...              0.58  2.02
Sub-Saharan Africa                         0.37   4.27  ...              0.31  2.02
Western Europe                             0.68   6.94  ...              0.14  2.15

[10 rows x 23 columns]

##### What are the 5 countries with higher/lower happiness score in Middle East and Northern Africa? Display all the information about this 10 countries in a single df

In [26]:
import numpy as np

high_hap_MENA = happiness[happiness.Region == 'Middle East and Northern Africa'].sort_values('Happiness Score', ascending=False).head()
low_hap_MENA = happiness[happiness.Region == 'Middle East and Northern Africa'].sort_values('Happiness Score', ascending=False).tail()

selected_countries_df = high_hap_MENA.append(low_hap_MENA)
selected_countries_df.index=np.arange(1, selected_countries_df.shape[0]+1)  #this is to get a "rank" as index starting at 1

selected_countries_df

                 Country  ... Dystopia Residual
1                 Israel  ...           3.08854
2   United Arab Emirates  ...           2.24743
3                   Oman  ...           2.47489
4                  Qatar  ...           1.55674
5           Saudi Arabia  ...           2.43872
6                   Iran  ...           1.69440
7                   Iraq  ...           1.95335
8                  Egypt  ...           1.59927
9                  Yemen  ...           1.92313
10                 Syria  ...           0.32858

[10 rows x 12 columns]

##### Display the info of the 5 countries with higher/lower life expectancy

In [25]:
high_lexp = happiness.sort_values('Health (Life Expectancy)', ascending=False).head()
low_lexp = happiness.sort_values('Health (Life Expectancy)', ascending=False).tail()

selected_countries_df2 = high_lexp.append(low_lexp).reset_index(drop=True)
selected_countries_df2.index = selected_countries_df2.index +1  # another way of setting this index

selected_countries_df2

                     Country              Region  ...  Generosity  Dystopia Residual
1                  Singapore   Southeastern Asia  ...     0.31105            1.88501
2                  Hong Kong        Eastern Asia  ...     0.39478            0.65429
3                      Japan        Eastern Asia  ...     0.10705            1.68435
4                South Korea        Eastern Asia  ...     0.18557            2.21978
5                      Spain      Western Europe  ...     0.18227            2.12367
6                    Lesotho  Sub-Saharan Africa  ...     0.16388            2.79832
7                  Swaziland  Sub-Saharan Africa  ...     0.18259            2.48676
8   Central African Republic  Sub-Saharan Africa  ...     0.23835            2.72230
9                   Botswana  Sub-Saharan Africa  ...     0.10461            1.46181
10              Sierra Leone  Sub-Saharan Africa  ...     0.21488            2.51009

[10 rows x 12 columns]

---
### Next steps

There are data sets for the years 2015 to 2019 available.  To access and try out other years, change 2015 to the required year in the URL in the first code cell.  Leave the rest exactly as it is.  

Other years may have different column headings and so there will be different data to play with.

In [28]:
url_2019 = 'https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2019.xlsx?raw=true'

hp_2019 = pd.read_excel(url_2020, index_col=0)

hp_2019.head(10)

             Country or region  Score  ...  Generosity  Perceptions of corruption
Overall rank                           ...
1                      Finland  7.769  ...       0.153                      0.393
2                      Denmark  7.600  ...       0.252                      0.410
3                       Norway  7.554  ...       0.271                      0.341
4                      Iceland  7.494  ...       0.354                      0.118
5                  Netherlands  7.488  ...       0.322                      0.298
6                  Switzerland  7.480  ...       0.263                      0.343
7                       Sweden  7.343  ...       0.267                      0.373
8                  New Zealand  7.307  ...       0.330                      0.380
9                       Canada  7.278  ...       0.285                      0.308
10                     Austria  7.246  ...       0.244                      0.226

[10 rows x 8 columns]

##### Get all countries where life expentancy is above average

In [17]:
hp_2019['Healthy life expectancy'].dtype

dtype('float64')

In [25]:
sel_countries_df = hp_2019[hp_2019['Healthy life expectancy'] > hp_2019['Healthy life expectancy'].mean()]
print('number of countries:', sel_countries_df.shape[0])

number of countries: 93

In [29]:
sel_countries_df.sort_values('Healthy life expectancy', ascending=False).head(10)

             Country or region  Score  ...  Generosity  Perceptions of corruption
Overall rank                           ...
34                   Singapore  6.262  ...       0.271                      0.453
76                   Hong Kong  5.430  ...       0.258                      0.287
58                       Japan  5.886  ...       0.069                      0.140
30                       Spain  6.354  ...       0.153                      0.079
6                  Switzerland  7.480  ...       0.263                      0.343
24                      France  6.592  ...       0.111                      0.183
49                      Cyprus  6.046  ...       0.190                      0.041
64             Northern Cyprus  5.718  ...       0.191                      0.162
9                       Canada  7.278  ...       0.285                      0.308
36                       Italy  6.223  ...       0.158                      0.030

[10 rows x 8 columns]

##### countries whose freedom is in the higher 25%

In [32]:
sel_countries2 = hp_2019[hp_2019['Freedom to make life choices'] >= hp_2019['Freedom to make life choices'].quantile(0.75)]
print('number of countries:', sel_countries2.shape[0])

number of countries: 39

In [35]:
sel_countries2.head(10)

             Country or region  Score  ...  Generosity  Perceptions of corruption
Overall rank                           ...
1                      Finland  7.769  ...       0.153                      0.393
2                      Denmark  7.600  ...       0.252                      0.410
3                       Norway  7.554  ...       0.271                      0.341
4                      Iceland  7.494  ...       0.354                      0.118
5                  Netherlands  7.488  ...       0.322                      0.298
6                  Switzerland  7.480  ...       0.263                      0.343
7                       Sweden  7.343  ...       0.267                      0.373
8                  New Zealand  7.307  ...       0.330                      0.380
9                       Canada  7.278  ...       0.285                      0.308
10                     Austria  7.246  ...       0.244                      0.226

[10 rows x 8 columns]

##### 10 countries with higher social support

In [38]:
hp_2019.sort_values('Social support', ascending=False).head(10)

             Country or region  Score  ...  Generosity  Perceptions of corruption
Overall rank                           ...
4                      Iceland  7.494  ...       0.354                      0.118
1                      Finland  7.769  ...       0.153                      0.393
3                       Norway  7.554  ...       0.271                      0.341
2                      Denmark  7.600  ...       0.252                      0.410
8                  New Zealand  7.307  ...       0.330                      0.380
16                     Ireland  7.021  ...       0.298                      0.310
11                   Australia  7.228  ...       0.332                      0.290
87                Turkmenistan  5.247  ...       0.244                      0.028
15              United Kingdom  7.054  ...       0.348                      0.278
83                    Mongolia  5.285  ...       0.235                      0.038

[10 rows x 8 columns]